.roadmap_full_main{
     padding-top: 150px;
     background-image: url("./Assets/Background.png");
background-size: cover;
background-repeat: no-repeat;
background-position: top;
}

.roadmap_main_head{
     color: #fff;
     padding: 10px 0 20px 0;
     font-size: 1rem;
     text-align: center;
     width: 80%;
     margin: 0 auto;
}

.date{
     width: 100%;
}
.roadmap_seprate{
     padding: 30px 0;
}

.roadmap_card{
     background-image: url("./Assets/roadmap_bg.png");
     background-position: center;
     background-size: cover;
     height: 100%;
     display: flex;
     align-items: center;
}
.roadmap_card_2{
     background-image: url("./Assets/roadmap_bg_2.png");
     background-position: center;
     background-size: cover;
     height: 100%;
     display: flex;
     align-items: center;
}

.roadmap_img{
     width: 100%;
     height: 100%;
}

.roadmap_content{
     padding: 0 30px;
}

.span_div{
     display: flex;
     align-items: center;
     margin:  0;
}

.cheaked_icon{
     width: 100%;
}

.road_para{
     width: 90%;
     margin-left: 10px;
}